 <% if admin_user? %>
 <p style="color:red">Field with(*) is required</p>
  <%= form_for @general_category do |f| %>
   <span style="color:red">(*)</span><%= f.label :Set_category_name %>
  <%= f.text_field :name,  placeholder: "Create category", class: 'form-control' %>
   <ul>
    <%= f.fields_for :categories do |category_form| %>
        <span style="color:red">(*)</span><%= category_form.label :Set_sub_category_name %>
        <%= category_form.text_field :name, class: 'form-control' %>
    <% end %>
  </ul>
  <%= f.submit "Create", class: "search2 btn btn-primary" %>
  <% end %>
  <% end %>
