<% if admin_user? %>
  <%= render "shared/control_bar" %>
<% end %>
<div class="show_book col-md-9">
<ul class="users">
  <h2> All authors</h2>
  <ol class="micropos">
  <%= form_for @author do |f| %>
  <%= f.text_field :name,  placeholder: "Create author", class: 'search1 form-control' %>
  <%= f.submit "Create", class: "search2 btn btn-primary" %>
  <% end %>
<% if @authors.any? %>
<b><%= render @authors %></b></ol>
<% end %>
</ul>
</div>
