<div class="nav-side-menu col-md-2">
  <% if logged_in? && admin_user? %>
    <div class="brand" style="height: 52px;"><%= link_to image_tag("logo.png", :class => "img_preview"), admin_books_path %></div>
  <% end %>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <a href="<%= signup_path %>" style="color:white;"><li><i class="fa fa-user-plus"></i> Create a new user</li></a>
                <a href="<%= admin_requests_path %>" style="color:white"><li><i class="fa fa-calendar-check-o fa-lg"></i> Request Management</li></a>
                <a href="<%= admin_books_path %>" style="color:white"><li><i class="fa fa-book"></i> Book Management</li></a>
                <a href="<%= new_admin_category_path %>" style="color:white"><li><i class="fa fa-globe fa-lg"></i> Category Managerment</li></a>
                <a href="<%= authors_path %>" style="color:white"><li><i class="fa fa-address-card fa-lg"></i> Author Managerment</li></a>
                <a href="<%= users_path %>" style="color:white"><li>
                  <i class="fa fa-users fa-lg"></i> User Managerment</li></a>
            </ul>
     </div>
</div>

<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>
