<%= form_for request do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :book_id, value: @book.id %>
    <%= f.label :borrow_date %>
    <%#= f.text_field :borrow_date, "data-provide" => 'datepicker' %>
    <%= f.date_select(:borrow_date, :order => [:month, :day, :year]) %>
    <%= f.label :Return_date %>
    <%= f.date_select(:return_date, :order => [:month, :day, :year]) %>
  </div>
  <%= f.submit "Borrow this book", class: "btn btn-primary" %>
<% end %>

<script>
$('.datepicker').datepicker()
</script>
