<% if admin_user? %>
  <%= render "shared/control_bar" %>
<% end %>
<div class="show_book col-md-9">
  <ul class="users">
    <h3>Publishers: </h3>
    <%= form_for @publisher do |f| %>
  <%= f.text_field :name,  placeholder: "Create publisher", class: 'search1 form-control' %>
  <%= f.submit "Create", class: "search2 btn btn-primary" %>
  <% end %>
    <% if @publishers.any? %>
      <ol><%= render @publishers %></ol>
    <% end %>
  </ul>
</div>
