<div class="col-md-3 col-sm-6 col-xs-6">
  <div class="product product-single product-hot">
    <div class="product-thumb">
      <div class="product-label">
      </div>
      <button class="main-btn quick-view" data-toggle="modal" data-target="#myModal-<%= book.id %>"><i class="fa fa-search-plus" > </i> Quick view</button>
      <%= image_tag book.picture.url , class: "book_image" %>
    </div>
    <div class="product-body" style="height: 179px;">
      <% if book.number <= 0 %>
      <h5 class="product-price" style="color:red">Out of service</h5>
      <% else %>
      <h5 class="product-price">Only <%= book.number %> left</h5>
      <% end %>
      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o empty"></i>
      </div>
      <p ><span class="like_count<%= book.id %>"><%= book.book_likes.count %></span> <i class="fa fa-heart" style="color:red"></i></p>
      <h2 class="product-name"><a href="#"><%= link_to book.name, category_book_path(book.category, book) %></a></h2>
      <% if admin_user? %>
      <span><%= link_to "edit", edit_category_book_path(book.category, book) %></span>
       <span class="delete"><%= link_to t("delete"), category_book_path(book.category, book), method: :delete, data: {confirm: t("are_you_sure")} %></span>
       <% end %>
      <div class="product-btns" style="float:bottom">
        <%= render "books/like_form", book: book %>
          <span><button class="primary-btn add-to-cart" data-toggle="modal" data-target="#myModal-<%= book.id %>" style="margin-left:5px;"><i class="fa fa-shopping-cart"></i> Borrow</button></span>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal-<%= book.id %>">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= link_to book.name, category_book_path(book.category, book) %></h4>

      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="modal-body-left">
          <%= image_tag book.picture.url , class: "book_image_1" %>
        </div>
        <div class ="modal-body-right">
            <p>Category: <%=link_to book.category.name, category_path(book.category) %></p>
          <p>Author: <%=link_to book.author.name, author_path(book.author.id) %></p>
          <p>Description: <%= book.description %></p>
          <p><span class="like_count<%= book.id %>"><%= book.book_likes.count %></span> <i class="fa fa-heart" style="color:red"></i> </p>
          <% if book.number <= 0 %>
          <h4>Sorry, the book you are looking for is now not available.Please try again later</h4>
          <% else %>
          <span style="color: red"> Field with (*) must be exist</span>
          <%= form_for @request do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="field">
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :book_id, value: book.id %>
              <p><b>(*)Borrow date</b></p>
              <%= f.date_field :borrow_date, class: "form-control"%>
              <p><b>(*)Return date</b></p>
              <%= f.date_field :return_date, class: "form-control" %>
            </div>
            <i><%= f.submit "Borrow this book", class: "btn btn-primary add-to-cart" %></i>
          <% end %>
          <% end %>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right">Close</button>
      </div>

  </div>
  </div>
</div>



