<div class="col-md-4">
  <h2>Categories</h2>
    <ul id="tree1">
        <li><a href="#">Categories</a>
            <ul>
                <%= render @categories1 %>
            </ul>
        </li>
    </ul>
</div>
<% if @categories.blank? %>
  <h4>There are no categories containing the term "<%= params[:search] %>".</h4>
<% end %>
<%= render "categories/tree_view" %>

<div class="col-md-6" style="float:right">
  <% if admin_user? %>
    <h1>Create a sub category</h1>
    <%= form_for @category do |f| %>
      <%= f.label :Choose_Parent_Category %>
      <%= f.collection_select :parent_id, Category.order(:name),:id,:name, {},class: "form-control"  %>
      <%= f.label :Set_Category_name %>
      <%= f.text_field :name,  placeholder: "Create category", class: 'form-control' %>
      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
