<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <title><%= full_title(yield :title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= render 'layouts/shim' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="content1 container-fluid">
      <% if logged_in? && admin_user? %>
        <%= render "shared/control_bar" %>
        <div class="show_book col-md-10">
        <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
          <%= yield %>
        </div>
      <% else %>
        <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
      <% end %>
    </div>
  </body>
  </html>
